<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public Libraries</title>
</head>
<body>
    <h1> Find Public Libraries in England</h1>
    <p>
        Enter your post code to find the public library in your area.
    </p>
    <form action ="/search_result" method ="get">
    <input name = "pc" placeholder = "PostCode" type = "text">
                   
            <input type = "submit" value = "submitForm">
    </form>
    
</body>
</html>