<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Public Libraries</title>
    <style>
        .container {
            text-align: center;
        }
        
        h1, p, form {
            
            text-align: center;
            margin: 0 auto;
            max-width: 90%;
        }
        h1 {
        margin-bottom: 20px;
        }
        p {
        margin-bottom: 10px;
        }
        .small {
        font-size: 14px;
        }
        
    </style>
</head>
<body>
    <h1> Find Public Libraries in England</h1>
    <p>
       <b> Enter your post code to find the public library in your area.</b>
    </p>
    <form action ="/search_result" method ="get">
        <input name = "pc" placeholder = "PostCode" type = "text" autocomplete="postal-code">           
        <input type = "submit" value = "Search">
    </form>
    <p class="small">
        Example postodes: HA8 0UB, NW11 8HE, B7 4PT.
    </p>
    
</body>
</html>